# dependencies
/node_modules

# build output
/dist
/build

# Vite cache
/.vite

# tanstack router temp files
/.tanstack

# local env files
.env*
!.env.example

# VS Code settings
.vscode/

# OS metadata
.DS_Store
Thumbs.db

# Log files
npm-debug.log*

package-lock.json